version: '3.8'

services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    networks:
      - app-network

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    env_file: ./.env
    ports:
      - "3000:3000"
    networks:
      - app-network
    depends_on:
      - client

networks:
  app-network:
    driver: bridge